/* Icon Font Created with Glifo */
@font-face {
  font-family: "OADA";
  src: url("fonts/OADA.svg#OADA") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*
Use this style for full browser web font support.
You will need to convert your Glifo SVG to the relivant
font formats first. This can be done using any free online
svg font converter.

@font-face {
		font-family: "myFont";
		src:url("fonts/myFont.eot");
		src:url("fonts/myFont.eot?#iefix") format("embedded-opentype"),
			url("fonts/myFont.ttf") format("truetype"),
			url("fonts/myFont.woff") format("woff"),
			url("fonts/myFont.svg#myFont") format("svg");
		font-weight: normal;
		font-style: normal;
}
*/
[class*="icon-"] {
  font-family: "OADA";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 28px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-photography:before {
  content: '\e600';
}
.icon-trips:before {
  content: '\e601';
}
.icon-about:before {
  content: '\e602';
}
.icon-blog:before {
  content: '\e603';
}
.icon-food:before {
  content: '\e604';
}
.icon-outdoor:before {
  content: '\e605';
}
.icon-contact:before {
  content: '\e606';
}
.icon-search:before {
  content: '\e607';
}
.icon-newsletter:before {
  content: '\e608';
}
.icon-sharetips:before {
  content: '\e609';
}
.icon-starratinglarge:before {
  content: '\e610';
}
.icon-starratingsmall:before {
  content: '\e611';
}
.icon-socialtwitter:before {
  content: '\e612';
}
.icon-socialfacebook:before {
  content: '\e613';
}
.icon-sociallove:before {
  content: '\e614';
}
.icon-socialgoogleplus:before {
  content: '\e615';
}
.icon-sightslarge:before {
  content: '\e616';
}
.icon-foodlarge:before {
  content: '\e617';
}
.icon-photoslarge:before {
  content: '\e618';
}
.icon-lodginglarge:before {
  content: '\e619';
}
.icon-localtakelarge:before {
  content: '\e620';
}
.icon-otherlarge:before {
  content: '\e621';
}
.icon-arrowright:before {
  content: '\e622';
}
.icon-backtotop:before {
  content: '\e623';
}
.icon-arrowleft:before {
  content: '\e624';
}
